form, label
{
    padding: 10px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: dimgray;
}

.tekst {
    font-size: small;
    font-weight: bold;
    text-decoration: underline;
   margin-left: 20px;
}

button {
    background-color: bisque;
    margin-left: 20px;
}

